<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>vineet-kumar</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.SystemPerformanceandUtilizationActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

    <!-- Maps hibernate file's, if present -->
    <!--<mappingFiles></mappingFiles>-->

    <!-- Packages that will be scanned for JPA annotations -->
    <packagesWithMappedClasses>
        org.openmrs.module.systemmetrics
    </packagesWithMappedClasses>


    <!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

    <advice>
        <point>org.openmrs.api.PatientService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>
    <advice>
        <point>org.openmrs.api.FormService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>       
    <advice>
        <point>org.openmrs.api.EncounterService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>    
    <advice>
        <point>org.openmrs.api.ConceptService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>
    <advice>
        <point>org.openmrs.api.ObservationService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>       
    <advice>
        <point>org.openmrs.api.VisitService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice>      
    <advice>
        <point>org.openmrs.module.reporting.report.service.ReportService</point>
        <class>org.openmrs.module.systemmetrics.api.advisors.FieldCreationAfterAdvice</class>
    </advice> 
    
</module>

